//.main {
//    &:after {
//        width: 100px;
//        height: 100px;
//        background-color: blue;
//    }
//}
//
//.test2 > a {
//    font-size: 10px;
//}
//
//.lasttest {
//    color: black;
//}

.sectionOne {
    &:after {
        content: "";
        width: 20px;
        height: 20px;
        color: lightblue;

    }
}
